.subCategory {
  .submit {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: right;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .btn-default {
    color: #555;
  }
  ul {
    width: 100%;
  }
}
